 <!-- CONTACT MODAL -->
  <div id="contactModal" class="modal">
    <div class="modal-content">
      <span class="close-button">&times;</span>
      <h2>Contact <span style="color: #f52cf9">Me</span></h2>
      <p>I'd love to hear from you! Please fill out the form below:</p>
      <form action="https://formspree.io/f/mzzrwgnz" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" required>
        <label for="email">E-Mail</label>
        <input type="email" name="email" required>
        <label for="message">Message</label>
        <textarea name="message" required></textarea>
        <div class="button-wrapper">
          <button type="submit" class="btn-purple">Send</button>
        </div>
      </form>
    </div>
  </div>